body{
font-family: 'Cedarville Cursive', Cursive;
background-image: linear-gradient(white, #ebdfdd);
}

.container{
    background-color: white;
}


header{
    position: relative;
    height: 50vh;
    background-color: white;
}

.logo{
    display: block;
    height: 95%;
    object-fit: cover; 
    padding: 5%;
    
}

.welcome{
    position: absolute;
    color: white;
    top: 0;
    font-size: 14vh;
    font-family:'Cedarville Cursive' ;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-shadow: 0 0 0.1em #FFC2C2;
    text-align: center;
}

.rectangle > .welcome :first-child{
    position: absolute;
    background-color: white;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
}

.photo{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{ /* tytuł */
  display: flex;
  justify-content: center;
  text-align: center;
  text-align: justify; 
  text-align-last: center;
  font-size: 2em;
}

h3{   /*tekst*/
    font-family:'Raleway';
    font-size: 1.25em;
    display: flex;
    justify-content: center;
    text-align: center;
    text-align: justify; 
    text-align-last: center;
    margin-left: 12%; 
    margin-right: 15%;
}

h4{
  font-family: 'Raleway';
  font-size: 1.3em; 
  padding:3vh; 
  text-align: justify; 
  box-sizing: border-box;
}

h5{

}


figcaption
{
  display: flex;
  justify-content: center;
  text-align: center;
  text-align: justify; 
  text-align-last: center;
}

.photo1
{   
  filter: grayscale(85%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.photo1 img
{
  width: 80%;
	transition: all 0.5s ease-in-out;
}

.photo1:hover img
{
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
}

.elem{
  font-size: 1.3em;
}

.contact{
    position:relative;
    width:500px;
    height:2.2em;
    line-height:2.2em;
    margin:0 auto;
    font-size:1.5em;
    background-color:#ebdfdd;
    overflow:hidden; /*ukrywa niemieszczaca sie czesc*/

}

.contact > p {
  position:absolute;
  margin:0;
  white-space:nowrap; /*tekst nie jest złamany*/
  animation:move 30s linear infinite;
  -webkit-animation:move 30s linear infinite; 
}

.contact > p:hover {
  animation-play-state:paused;
  -webkit-animation-play-state:paused;
}

@keyframes move /* za pomocą reguły keyframes tworze animacje*/
{
  0% { transform:translateX(0); padding-left:110%; }
  100% { transform:translateX(-100%); padding-left:110%; }
}

@-webkit-keyframes move /* to samo co u góry tylko dla Google Chrome, Safari i Opera 15+ */
{
  0% { -webkit-transform:translateX(0); padding-left:110%; }
  100% { -webkit-transform:translateX(-100%); padding-left:110%; }
}